.navbar {
  background-color: #08142b;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.login-btn {
  border: 1px solid white;
  padding: 8px 14px;
  border-radius: 20px;
}